<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
{#        {% for field in formdata %}#}
{#            <div>#}
{#                <div class="col-2">{{ field.label_tag }}</div>#}
{#                <div class="col">{{ field }}</div>#}
{#            </div>#}
{#        {% endfor %}#}
{#        {{ formdata.status.to_python("Belum Terverifikasi") }}#}
{#        {{ formdata.formType.to_python("2") }}#}
        <div class="col-2">
            <input type="hidden" name="status" value="Belum Terverifikasi">
            <input type="hidden" name="formType" value="2">
        </div>
        <div class="col">
            <input type="submit" value="Register">
        </div>
    </div>
</div>
