<div class="container">
    <div class="row">
        <span><b>Informasi Akun:</b></span><br>
    </div>

    {% for field in accountform %}
        <div class="row">
            <div class="col-2">{{ field.label_tag }}</div>
            <div class="col">{{ field }}</div>
        </div>
        <div class="row"> {{ field.errors }} </div>
    {% endfor %}
</div>