<div class="container">
    <div class="row">
        <span><b>Afiliasi      :</b></span>
    </div>
    <div class="row">
        <div>
            {#            {{ affiliateform }}#}
            {#            <div class="col-2">#}
            {#                {% affiliateform.fields['affiliation'].label_tag %}#}
            {#                {{ affiliateform.affiliation.label_tag }}#}
            {#                Instansi:#}
            {#            </div>#}
            {#            <div class="col">#}
            {#                {{ affiliateform.affiliation }}#}
            {#                {% affiliateform.fields['affiliation'].widget %}#}
            {#            </div>#}
            {% for field in affiliateform %}
                <div class="row">
                    <div class="col-2">{{ field.label_tag }}</div>
                    <div class="col">
                        {{ field }}
                    </div>
                </div>
                <div class="row"> {{ field.errors }} </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>