<div class="container">
    <div class="row">
        <span><b>Alamat        :</b></span>
    </div>
    {% for field in addressform %}
        <div class="row">
            <div class="col-2">{{ field.label_tag }}</div>
            <div class="col">{{ field }}</div>
        </div>
        <div class="row"> {{ field.errors }} </div>
    {% endfor %}
</div>
<br>