<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Sivax: Registrasi</title>
            {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
            integrity=
                    "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
            crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}"> -->
        <style>
            /* body {
                background-image: linear-gradient(rgb(192, 236, 218), rgb(61, 211, 149));
                background-attachment: fixed;
            } */

            #notes_table th {
                background-color: grey;
                color: white;
            }

            table {
                margin: auto;
                width: 80% !important;
                table-layout: fixed
            }

            .heading1 {
                /* color: white;
                background-image: linear-gradient(blue, rgb(88, 198, 235)); */
                padding: 15px;
                text-align: center;
                /* border-radius: 50px;

                margin-left: 10px;
                margin-right: 10px; */
                margin-bottom: 10px;
            }

            .notes-table td {
                word-wrap: break-word;
            }

            #notes_table {
                counter-reset: serial-number; /* Set the serial number counter to 0 */
                text-align: center;
            }

            #notes_table td:first-child:before {
                counter-increment: serial-number; /* Increment the serial number counter */
                content: counter(serial-number); /* Display the counter */
            }
        </style>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="heading1 row">
                <h1 class="text-center">Registrasi Panitia</h1>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <span><b>Informasi Akun:</b></span><br>
                            </div>

                            <div class="row">
                                <div class="col-2"><label for="email"> Email :</label></div>
                                <div class="col"><input id="email" name="email" type="email" required><br></div>
                            </div>
                            <div class="row">
                                <div class="col-2"><label for="password"> Password:</label></div>
                                <div class="col"><input id="password" name="password" type="password" required><br></div>
                            </div>
                            {% if message %}
                            <alert>{{message}}</alert>
                            {% endif %}
                            <div class="row">
                                <div class="col-2"><label for="phone"> No. HP :</label></div>
                                <div class="col"><input id="phone" name="phone" type="number" required><br></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <span><b>Informasi Panitia :</b></span>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="nama"> Nama Panjang :</label>
                                </div>
                                <div class="col">
                                    <input id="nama" name="nama" type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="tk"> Tenaga Kesehatan:</label>
                                </div>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radios" id="inlineRadio1" value="Ya" onclick="getOption('Ya')" checked>
                                        <label class="form-check-label" for="inlineRadio1">Ya</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radios" id="inlineRadio2" value="Tidak" onclick="getOption('Tidak')">
                                        <label class="form-check-label" for="inlineRadio2">Tidak</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row dependRadio">
                                <div class="col-2">
                                    <label for="nostr"> Nomor Surat Tanda Registrasi :</label>
                                </div>
                                <div class="col">
                                    <input id="nostr" name="nostr" type="text">
                                </div>
                            </div>
                            <div class="row dependRadio">
                                <div class="col-2">
                                    <label for="typePetugas"> Tipe Petugas :</label>
                                </div>
                                <div class="col">
                                    <input id="typePetugas" name="typePetugas" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <span><b>Data Personal :</b></span>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="nik"> NIK :</label>
                                </div>
                                <div class="col">
                                    <input id="nik" name="nik" type="number" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="kelamin"> Jenis Kelamin :</label>
                                </div>
                                <div class="col">
                                    <select id="kelamin" name="kelamin">
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <span><b>Alamat        :</b></span>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="bangunan"> Nomor Bangunan:</label>
                                </div>
                                <div class="col">
                                    <input id="bangunan" name="bangunan" type="number" required >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="jalan"> Nama Jalan:</label>
                                </div>
                                <div class="col">
                                    <input id="jalan" name="jalan" type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="kel"> Kelurahan:</label>
                                </div>
                                <div class="col">
                                    <input id="kel" name="kel" type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="kec"> Kecamatan:</label>
                                </div>
                                <div class="col">
                                    <input id="kec" name="kec" type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="kab"> Kabupaten/Kota Administrasi:</label>
                                </div>
                                <div class="col">
                                    <input id="kab" name="kab" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <span><b>Afiliasi      :</b></span>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="instansi"> Instansi:</label>
                                </div>
                                <div class="col">
                                    <select id="instansi" name="instansi" required> <!-- Get from Instansi -->
                                        <option value="NULL"></option>
                                        {% for i in instansi %}
                                        <option value="'{{i.kode}}'">{{i.nama_instansi}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">

                                </div>
                                <div class="col">

                                </div>
                            </div>
                        </div>
                        <div class="container"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <span> &nbsp </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <input type="hidden" name="status" value="Belum Terverifikasi">
                                    <input type="hidden" name="formType" value="1">
                                </div>
                                <div class="col">
                                    <input type="submit" value="Register">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </body>
    <script>
    function getOption(type) {
        // selectElement = document.querySelector('#inputKategoriInstansi');
        // output = selectElement.value;
        console.log(type);
        if (type === "Ya"){
            var faskes = document.getElementsByClassName('dependRadio');
            for (var i=0;i<faskes.length;i+=1){
                faskes[i].style.display = 'flex';
            }
            document.getElementById("nostr").required = true;
            document.getElementById("typePetugas").required = true;
        } else if (type === "Tidak"){
            var nonFaskes = document.getElementsByClassName('dependRadio');
            for (var i=0;i<nonFaskes.length;i+=1){
                nonFaskes[i].style.display = 'none';
            }
            document.getElementById("nostr").required = false;
            document.getElementById("typePetugas").required = false;
        }
    }
    window.onload = getOption("Ya")
    </script>
</html>
