<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sivax: Registrasi</title>
        {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          integrity=
                  "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}"> -->
    <style>
        /* body {
            background-image: linear-gradient(rgb(192, 236, 218), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        #notes_table th {
            background-color: grey;
            color: white;
        }

        table {
            margin: auto;
            width: 80% !important;
            table-layout: fixed
        }

        .heading1 {
            /* color: white;
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;

            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
        }

        #notes_table {
            counter-reset: serial-number; /* Set the serial number counter to 0 */
            text-align: center;
        }

        #notes_table td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
<div class="heading1 row">
    <h1 class="text-center">Registrasi Akun</h1>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-lg">
        <!-- <form method="post"> -->
            <label for="jenisAkun">Jenis Akun:</label>
            <select id="jenisAkun" name="jenisAkun">
                <option value="0">Warga</option>
                <option value="1">Panitia Penyelenggara</option>
                <option value="2">Admin Satgas</option>
            </select><br>
            <!-- <input type="submit" value="Lanjut"> -->
            <button class="btn btn-primary" id="btnRegister" style="width: 100px;" onclick="changeLink()">Lanjut</button>
        <!-- </form> -->
    </div>
    <div class="col"></div>
</div>
</body>
<script>
    function changeLink() {
        selectElement = document.querySelector('#jenisAkun');
        window.location.href = "/registrasi/form/" + selectElement.value;
    }
</script>
</html>
