<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sivax: Login</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
        .heading1 {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        .inputBox{
            width: 350px;
        }


        #formBody{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
            row-gap: 10px;
        }

        .kolom1{
            text-align: right;
        }
     </style>
  </head>
  <body>
      
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1>Login</h1>
    </div>
    <div>
        
        <form action="" method="POST" >
            {% csrf_token %}
            <div id="formBody">
                <div class="kolom1">
                    <label for="email">email:</label>
                </div>
                <div>
                    <input type="email" class="inputBox" id="email" name="email" align="left" placeholder="Tuliskan email Anda.." 
                        maxlength="30" required pattern=".*\S.*">
                </div>

                <div class="kolom1">
                    <label for="password">Password:</label>
                </div>
                <div>
                    <input type="password" class="inputBox" id="password" name="password" align="left" placeholder="Password Anda.." 
                        maxlength="30" required pattern=".*\S.*"
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>
                <div class="kolom1"></div>
                <div>
                    {% if messages %}
                        {% for message in messages %}
                        <p{% if message.tags %} style="color: red;" class="{{ message.tags }}"{% endif %}>{{ message }}</o>
                        {% endfor %}
                    {% endif %}
                </div>
                <div style="grid-column: span 2; text-align: center;">
                    <button class="btn btn-primary" id="btnTambah" style="width: 100px;">Login</button>
                <br></br><br></br>
                    <div>
                    <label for="nama_produsen">Belum punya akun?</label>
                </div>
                <br>
                    <div style="grid-column: span 2; text-align: center;"></div>
                    <button class="btn btn-primary" type="button" id="btnTambah" style="width: 100px;" onclick="location.href='registrasi/'">Register</button>
                </div>
            </div>
        </div>
    </form>
  </body>
</html>
