<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Vaksin</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
         /* body {
            background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        .heading1 {
            /* color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;
            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        /* label{
            padding: 3px 6px;
            text-align: right;
            width: 150px;
            vertical-align: top; 
        } */

        .inputBox{
            width: 350px;
        }


        #formBody{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
            row-gap: 10px;
        }

        .kolom1{
            text-align: right;
        }
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1>Tambah Jenis Vaksin</h1>
    </div>
    <div>
        <form action="" method="POST" >
            {% csrf_token %}
            <div id="formBody">
            <div class="kolom1">
                <label for="nama">Kode:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="kode" name="kode" align="left" 
                    maxlength="30" required pattern=".*\S.*" value="Auto-generate" disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>
            <div class="kolom1">
                <label for="nama">Nama Vaksin:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="namavax" name="namavax" align="left" 
                    maxlength="30" required pattern=".*\S.*"
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>
            <div class="kolom1">
                <label for="nama_produsen">Nama Produsen:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="namaprodusen" name="namaprodusen" align="left"
                    maxlength="30" required pattern=".*\S.*"
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div class="kolom1">
                <label for="noedar">Nomor Edar</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="noedar" name="noedar" align="left"
                    maxlength="30" required pattern=".*\S.*"
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div class="kolom1">
                <label for="freqsuntik">Frekuensi Suntik:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="freqsuntik" name="freqsuntik" align="left" 
                    maxlength="30" required pattern=".*\S.*"
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div class="kolom1">
                <label for="stok">Stok:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="stok" name="stok" align="left" 
                    maxlength="30" required pattern=".*\S.*"
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>
            <div style="grid-column: span 2; text-align: center;">
                <button class="btn btn-primary" type="submit" value = "submit" id="btnTambah" style="width: 100px;" onclick="location.href='../'">Submit<button>
                </div>
        </div>
        </form>
    </div>
  </body>
</html>
