<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sivax: Vaksin</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          integrity=
                  "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}"> -->
    <style>
        /* body {
            background-image: linear-gradient(rgb(192, 236, 218), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        #notes_table th {
            background-color: grey;
            color: white;
        }

        table {
            margin: auto;
            width: 80% !important;
            table-layout: fixed
        }

        .heading1 {
            /* color: white;
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;

            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
        }

        #notes_table {
            counter-reset: serial-number; /* Set the serial number counter to 0 */
            text-align: center;
        }

        #notes_table td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
<div class="heading1">
    <h1 class="text-center">Vaksin</h1>
</div>
{% if request.session.admin_satgas %} <a href="createvax/" style="display: block; width: 90%; text-align: right;">[Tambah Vaksin]</a>{% endif %}
<table class="table table-bordered table-striped table-hover" id="notes_table">
    <tr>
        <th style="width: 5%">Kode</th>
        <th style="width: 15%;">Nama Vaksin</th>
        <th style="width: 20%">Nama_produsen</th>
        <th style="width: 15%">NoEdar</th>
        <th style="width: 10%">FreqSuntik</th>
        <th style="width: 5%">Stok</th>
        <th style="width: 25%">Tindakan</th>

    </tr>

    <!-- <tr class="notes-table">
        <td>.</td>
        <td>Pfizer</td>
        <td>Pzifer</td>
        <td>bpom-127</td>
        <td>2</td>
        <td>28</td>
        <td><a href="./updatevax/">[Update]</a><a href="">[Delete]</a></td>
    </tr> -->

    {% for i in vaksin %}
    <tr>
        <td></td>
        <td>{{i.nama}}</td>
        <td>{{i.nama_produsen}}</td>
        <td>{{i.no_edar}}</td>
        <td>{{i.freq_suntik}}</td>
        <td>{{i.stok}}</td>
        <td>  
            {% if not i.dis and request.session.admin_satgas %}<a href="deletevax/{{i.kode}}/">[Delete]</a> {% endif %} 
            {% if request.session.admin_satgas %} <a href="updatevax/{{i.kode}}/">[Update Stok]</a> {% endif %}
        </td>
    </tr>
    {% endfor %}

    
</table>
</body>
</html>
