<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Update Stok</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
    <style>

        #notes_table th{ 
            background-color: grey;
            color: white;
        }
        table {
            margin: auto;
            width: 80% !important; 
            table-layout: fixed
        }

        .heading1 {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
        }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1 class="text-center">Update Stok Vaksin: {{nama}}</h1>
    </div>
    <a href="upd_stok/" style="display: block; width: 90%; text-align: right;">[Tambah Update Stok]</a>
    <table class="table table-bordered table-striped table-hover" id="notes_table">
      <tr>
        <th style="width: 35%">Email Pegawai</th>
        <th style="width: 25%">Tanggal Update</th>
        <th style="width: 25%">Jumlah Update</th>
        
      </tr>
      
      {% for i in update %}
      <tr>
          <td>{{i.email_pegawai}}</td>
          <td>{{i.tgl_waktu}}</td>
          <td>{{i.jumlah_update}}</td>
      </tr>
      {% endfor %}

    </table>
  </body>
</html>
