<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Penjadwalan</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
         /* body {
            background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        .heading1 {
            /* color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;
            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        .kolom_input{
            width: 350px;
        }


        #formBody1{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            column-gap: 20px;
            row-gap: 10px;
            margin-bottom: 10px;
        }

        .kolom1{
            text-align: right;
        }

        
        .inputFaskes{
            display: none;
        }

        .inputNonFaskes{
            display: none;
        }

        .dropdownStyle{
            width: 350px;
        }
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1>FORM TAMBAH PENJADWALAN BARU</h1>
    </div>
    <div id="content">
        <form action="" method="POST">
            {% csrf_token %}
            <label>Nama Instansi</label><br>
            <select name="instansi" id="instansi" required>
                {% for instansi in instansi_data %}
                <option value="{{instansi.kode}}">{{instansi.nama_instansi}}</option>
                {% endfor %}
            </select><br><br>
            <label>Tanggal dan Waktu Pelaksanaan</label><br>
            <input type="datetime-local" id="meeting-time" name="tanggal" step=1 required><br><br>
            <label>Kuota</label><br>
            <input type='number' name='kuota' required><br><br>
            <label>Penerima</label><br>

            <input type='radio' name='penerima' value='umum' required><label>Umum</label>
            <input type='radio' name='penerima' value='instansi' required><label>Internal</label><br><br>
            
            <label>Lokasi Vaksin</label><br>
            <select name="lokasi" id="lokasi" required>
                {% for lokasi in lokasi_data %}
                <option value="{{lokasi.kode}}" >{{lokasi.nama}}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="[BUAT JADWAL]">
        </form>
    </div>
  </body>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</html>
