<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detail Penjadwalan</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
         /* body {
            background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        .heading1 {
            /* color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;
            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        /* label{
            padding: 3px 6px;
            text-align: right;
            width: 150px;
            vertical-align: top; 
        } */

        #nama_status{
            width: 250px;
        }


        #formBody1{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            column-gap: 20px;
            row-gap: 10px;
            margin-bottom: 10px;
        }

        .kolom1{
            text-align: right;
        }

        
        .inputFaskes{
            display: none;
            /* grid-column: span 2; */
        }

        .inputNonFaskes{
            display: none;
            /* grid-column: span 2; */
        }

        .dropdownStyle{
            width: 250px;
        }
/* 
        .kolomInKolom{
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
            row-gap: 10px;
        } */
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div id="content">
        <h3>Daftar Penjadwalan Vaksin</h3>
        <div>
            <p>Nama Instansi: {{nama_instansi}}</p>
            <p>Tanggal dan Waktu Pelaksanaan: {{tanggal_waktu}}</p>
            <p>Kuota: {{kuota}}</p>
            <p>Penerima: {{penerima}}</p>
            <p>Lokasi Vaksin: {{lokasi_vak}}</p>
            <p>Status: {{status}}</p>
            <p>Jumlah Tenaga Kesehatan: {{jumlah_nakes}}</p>
            <p>Diverifikasi oleh: {{email_admin}}</p>
            {% if kode_dis %}
            <h5>Informasi Distribusi: </h5>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th>Kode</th>
                    <th>Tanggal Distribusi</th>
                    <th>Biaya</th>
                    <th>Jenis Vaksin</th>
                    <th>Jumlah</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{kode_dis}}</td>
                        <td>{{tgl_dis}}</td>
                        <td>Rp {{biaya}}</td>
                        <td>{{jenis_vaksin}}</td>
                        <td>{{jumlah_dis}}</td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            <div id='buttons'>
                {% if setuju and request.session.admin_satgas and not kode_dis %} <a href="../../../">[Atur Distribusi]</a> {% endif %} 
                <a href="../../../">[Cancel]</a>
            </div>
        </div>
    </div>
    
  </body>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
 
</html>
