<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Penjadwalan</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">

     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    
    <style>

        #notes_table th{ 
            background-color: grey;
            color: white;
        }
        table {
            margin: auto;
            width: 80% !important; 
            table-layout: fixed
        }

        .heading1 {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
        }

        #notes_table {
            counter-reset: serial-number;  /* Set the serial number counter to 0 */
            text-align: center;
        }

        #notes_table td:first-child:before {
            counter-increment: serial-number;  /* Increment the serial number counter */
            content: counter(serial-number);  /* Display the counter */
        }
    </style>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    {% include 'navbar.html' %}
    
    <!-- <div class="heading1">
      <h1 class="text-center">Daftar Nama Penjadwalan</h1>
    </div> -->
    {% if request.session.panitia_penyelenggara %} <a href="create/" style="display: block; width: 90%; text-align: right;">[Tambah Penjadwalan]</a>{% endif %}
    

    <div id="content">
      <div class="heading1">
        <h1 class="text-center">Daftar Nama Penjadwalan</h1>
      </div>
     
      <table id="table_id" class="display">
          <thead>
            <tr>
              <!-- <th >No.</th> -->
              <th >Instansi</th>
              <th >Waktu Pelaksanaan</th>
              <th >Kuota</th>
              <th>Status</th>
              <th >Kode Distribusi</th>
              <th >Action</th>
              <!-- <th style="width: 61%">Message</th> -->
            </tr>
          </thead>
          <tbody>
              <!-- <tr id="isi">
                  <td>dst01</td>
                  <td>25 November 2021</td>
                  <td>Rp 50.000 </td>
                  <td>Sinovac</td>
                  <td>300</td>
                  <td>
                      <a href="detail">[Detail]</a>
                      <a href="">[Delete]</a>
                      <a href="update">[Update]</a>
                  </td>
              </tr> -->

              {% for i in penjadwalan_data %}
                <tr>
                  <!-- <td></td> -->
                  <td>{{i.nama_instansi}}</td>
                  <td>{{i.tanggal_waktu}}</td>
                  <td>{{i.jumlah}}</td>
                  <td>{{i.status}}</td>
                  <td>{{i.kode_distribusi}}</td>
                  <td>
                    {% if not i.setujui and request.session.panitia_penyelenggara %}<a href="update/{{i.kode}}/{{i.tanggal_waktu}}/">[Update]</a> {% endif %}   
                    {% if not i.kirim and request.session.admin_satgas %}<a href="detail/{{i.kode}}/{{i.tanggal_waktu}}/">[Detail]</a> {% endif %}  
                    {% if request.session.panitia_penyelenggara %}<a href="detail/{{i.kode}}/{{i.tanggal_waktu}}/">[Detail]</a> {% endif %}
                    {% if i.kirim and request.session.admin_satgas %}<a href="verifikasi/{{i.kode}}/{{i.tanggal_waktu}}/">[verifikasi]</a>{% endif %}
                    {% if i.setujui and not i.distribusi and request.session.admin_satgas %}<a href="../distribusi/create/{{i.kode}}/{{i.tanggal_waktu}}/">[Atur Distribusi]</a>{% endif %}
                  </td>
                </tr>
              {% endfor %}

          </tbody>
      </table>

    <script type="text/javascript">
      $(document).ready( function () {
          $('#table_id').DataTable();
      } );
    </script>
  </body>
</html>
