<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sivax: Kartu Vaksin</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          integrity=
                  "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}"> -->
    <style>
        /* body {
            background-image: linear-gradient(rgb(192, 236, 218), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        #notes_table th {
            background-color: grey;
            color: white;
        }

        table {
            margin: auto;
            width: 80% !important;
            table-layout: fixed
        }

        .heading1 {
            /* color: white;
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;

            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
        }

        #notes_table {
            counter-reset: serial-number; /* Set the serial number counter to 0 */
            text-align: center;
        }

        #notes_table td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div class="heading1">
    <h1 class="text-center">Kartu Vaksin Saya</h1>
</div>
<table class="table table-bordered table-striped table-hover" id="notes_table">
    <tr>
        <th style="width: 5%">No.</th>
        <th style="width: 15%;">Nomor Sertifikat</th>
        <th style="width: 20%">Tahapan</th>
        <th style="width: 25%">Tindakan</th>
    </tr>

    {% for i in data %}
        <tr id="isi" class="notes-table">
            <td>{{ forloop.counter }}</td>
            <td>{{ i.no_sertifikat }}</td>
            <td>{{ i.status_tahapan }}</td>
            <td><a href="detail-sertifikat/{{ i.no_sertifikat }}?{{ i.no_tiket }}">[Detail]</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
