<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detail Distribusi</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
         /* body {
            background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        .heading1 {
            /* color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;
            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        /* label{
            padding: 3px 6px;
            text-align: right;
            width: 150px;
            vertical-align: top; 
        } */

        #nama_status{
            width: 250px;
        }


        #formBody1{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            column-gap: 20px;
            row-gap: 10px;
            margin-bottom: 10px;
        }

        .kolom1{
            text-align: right;
        }

        
        .inputFaskes{
            display: none;
            /* grid-column: span 2; */
        }

        .inputNonFaskes{
            display: none;
            /* grid-column: span 2; */
        }

        .dropdownStyle{
            width: 250px;
        }
/* 
        .kolomInKolom{
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
            row-gap: 10px;
        } */
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <H1>Detail Distribusi</H1>
    <div id="content">
        <h5>Informasi Penjadwalan: </h5>
        <div>
            <p>Nama Instansi: {{nama_instansi}}</p>
            <p>Tanggal dan Waktu Pelaksanaan: {{tanggal_waktu}}</p>
            <p>Kuota: {{kuota}}</p>
            <p>Penerima: {{penerima}}</p>
            <p>Lokasi Vaksin: {{lokasi_vak}}</p>
            <p>Status: {{status}}</p>
            <p>Jumlah Tenaga Kesehatan: {{jumlah_nakes}}</p>
            <p>Diverifikasi oleh: {{email_admin}}</p>
        </div>
        <h5>Informasi Distribusi: </h5>
        <form name='myForm'>
            <label>Kode: </label><br>
            <input type='text' id='kode' name='kode' value='{{dis.kode}}' disabled><br>
            <label>Tanggal Distribusi</label><br>
            <input type='date' name='tanggal' value='{{tanggal}}' disabled><br>
            <!-- <input type='hidden' name='tanggal_vak' value="{{cek_tanggal}}"><br> -->
            <label>Biaya Distribusi</label><br>
            <input type='number' name='biaya' value={{dis.biaya}} disabled><br>
            <label>Jenis Vaksin</label><br>
            <select name="kode_vaksin" id="vaksin" disabled>
                <option value="{{vaksin.kode}}" checked='true'>{{vaksin.nama}}</option>
            </select><br>
            <label>Jumlah Vaksin</label><br>
            <input type='number' name='jumlah_vaksin' value={{dis.jumlah_vaksin}} disabled><br>
            <!-- <input type="submit" value="[SIMPAN DISTRIBUSI]"> -->
        </form>
        <div id='buttons'>
            <a href="../../update/{{dis.kode}}/">[Edit Distribusi]</a>
            <a href="../../delete/{{dis.kode}}/">[Hapus Distribusi]</a>
        </div>
    </div>
    
  </body>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script>

  </script>
</html>
