<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Distribusi</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">

     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    
    <style>

        #notes_table th{ 
            background-color: grey;
            color: white;
        }
        table {
            margin: auto;
            width: 80% !important; 
            table-layout: fixed
        }

        .heading1 {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
        }

        #notes_table {
            counter-reset: serial-number;  /* Set the serial number counter to 0 */
            text-align: center;
        }

        #notes_table td:first-child:before {
            counter-increment: serial-number;  /* Increment the serial number counter */
            content: counter(serial-number);  /* Display the counter */
        }
    </style>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    {% include 'navbar.html' %}
    <div id="content">
      <h3 class='heading1'>Tabel Distribusi</h3>
     
      <table id="table_id" class="display">
          <thead>
              <tr>
                  <th>Kode</th>
                  <th>Tanggal Distribusi</th>
                  <th>Biaya</th>
                  <th>Jenis Vaksin</th>
                  <th>Jumlah</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <!-- <tr id="isi">
                  <td>dst01</td>
                  <td>25 November 2021</td>
                  <td>Rp 50.000 </td>
                  <td>Sinovac</td>
                  <td>300</td>
                  <td>
                      <a href="detail">[Detail]</a>
                      <a href="">[Delete]</a>
                      <a href="update">[Update]</a>
                  </td>
              </tr> -->

              {% for i in distribusi %}
                <tr id="isi">
                    <td>{{i.kode}}</td>
                    <td>{{i.tanggal}}</td>
                    <td>Rp {{i.biaya}}</td>
                    <td>{{i.nama}}</td>
                    <td>{{i.jumlah_vaksin}}</td>
                    <td>
                        <a href="detail/{{i.kode}}/">[Detail]</a>
                        <a href="delete/{{i.kode}}/">[Delete]</a>
                        <a href="update/{{i.kode}}/">[Update]</a>
                    </td>
                </tr>
              {% endfor %}

          </tbody>
      </table>
      <!--Panitia Penyelenggara-->
  </div>
  
  
  
   <script type="text/javascript">
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
  </script>
  </body>

</html>
