<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Update Distribusi</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
         /* body {
            background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        .heading1 {
            /* color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;
            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        /* label{
            padding: 3px 6px;
            text-align: right;
            width: 150px;
            vertical-align: top; 
        } */

        .kolom_input{
            width: 250px;
        }


        #formBody1{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            column-gap: 20px;
            row-gap: 10px;
            margin-bottom: 10px;
        }

        .kolom1{
            text-align: right;
        }

        
        .inputFaskes{
            display: none;
            /* grid-column: span 2; */
        }

        .inputNonFaskes{
            display: none;
            /* grid-column: span 2; */
        }

        .dropdownStyle{
            width: 250px;
        }
/* 
        .kolomInKolom{
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
            row-gap: 10px;
        } */
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div id="content">
        <br>
        <h3>Update Distribusi</h3>
        <br>
        <h5>Informasi Penjadwalan: </h5>
        <div>
            <p>Nama Instansi: {{nama_instansi}}</p>
            <p>Tanggal dan Waktu Pelaksanaan: {{tanggal_waktu}}</p>
            <p>Kuota: {{kuota}}</p>
            <p>Penerima: {{penerima}}</p>
            <p>Lokasi Vaksin: {{lokasi_vak}}</p>
            <p>Status: {{status}}</p>
            <p>Jumlah Tenaga Kesehatan: {{jumlah_nakes}}</p>
            <p>Diverifikasi oleh: {{email_admin}}</p>
        </div>
        <form action="" method="POST" onsubmit="return validateForm()" name='myForm'>
            {% csrf_token %}
            <h5>Informasi Distribusi: </h5>
            <label>Kode: </label><br>
            <input type='text' id='kode' name='kode' value='{{dis.kode}}' readonly><br>
            <label>Tanggal Distribusi</label><br>
            <input type='date' name='tanggal' value={{tanggal}} required><br>
            <!-- <input type='hidden' name='tanggal_vak' value="{{cek_tanggal}}"><br> -->
            <label>Biaya Distribusi</label><br>
            <input type='number' name='biaya' value={{dis.biaya}} required><br>
            <label>Jenis Vaksin</label><br>
            <select name="kode_vaksin" id="vaksin" required>
                {% for i in vaksin %}
                    <option value="{{i.kode}}" {% if i.select %} selected {% endif %}>{{i.nama}}</option>
                {% endfor %}
            </select><br>
            <label>Jumlah Vaksin</label><br>
            <input type='number' name='jumlah_vaksin' value={{dis.jumlah_vaksin}} required><br>
            {% if message %}
            <alert>{{message}}</alert><br>
            {% endif %}
            <input type="submit" value="[SIMPAN DISTRIBUSI]">
        </form>
    </div>
    
  </body>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script>
    function stringToDate(_date,_format,_delimiter)  {
        var formatLowerCase=_format.toLowerCase();
        var formatItems=formatLowerCase.split(_delimiter);
        var dateItems=_date.split(_delimiter);
        var monthIndex=formatItems.indexOf("mm");
        var dayIndex=formatItems.indexOf("dd");
        var yearIndex=formatItems.indexOf("yyyy");
        var month=parseInt(dateItems[monthIndex]);
        month-=1;
        var formatedDate = new Date(dateItems[yearIndex],month,dateItems[dayIndex]);
        return formatedDate;
    }
    
    function validateForm() {
        let x = document.forms["myForm"]["tanggal"].value;
        let y = stringToDate(x,"yyyy-mm-dd","-");
        let z = stringToDate('{{cek_tanggal}}',"yyyy-mm-dd","-");
        const today = new Date();
        const tomorrow = new Date(today);
        tomorrow.setDate(tomorrow.getDate() + 1);
        tomorrow.setHours(0,0,0,0);
        console.log(tomorrow);

       // alert("Tanggal minimal H+2 dari hari ini");
        if (y <= tomorrow) {
            alert("Tanggal minimal H+2 dari hari ini");
            return false;
        } else if (y.getTime() == z.getTime()){
            alert("Tanggal tidak bisa di hari H vaksin");
            return false;
        }
    }
  </script>
</html>
