<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Tiket</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
         /* body {
            background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        .heading1 {
            /* color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;
            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        /* label{
            padding: 3px 6px;
            text-align: right;
            width: 150px;
            vertical-align: top; 
        } */

        .inputBox{
            width: 350px;
        }


        #formBody{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
            row-gap: 10px;
        }

        .kolom1{
            text-align: right;
        }
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1>Detail Jadwal</h1>
    </div>
    <div>
        <form action="" method="POST" >
            {% csrf_token %}
            <div id="formBody">
                <div class="kolom1">
                    <label for="nama_instansi">Nama Instansi:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="nama_instansi" name="nama_instansi" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                        maxlength="30" required pattern=".*\S.*" value="{{jadwal.nama_instansi}}" disabled
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="tglWktuP">Tanggal dan Waktu Pelaksanaan:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="tglWktuP" name="tglWktuP" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                        maxlength="30" required pattern=".*\S.*" value="{{tanggal_waktu}}" disabled
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="kuota">Kuota:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="kuota" name="kuota" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                        maxlength="30" required pattern=".*\S.*" value="{{jadwal.jumlah}}" disabled
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="katPen">Kategori Penerima:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="katPen" name="katPen" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                        maxlength="30" required pattern=".*\S.*" value="{{jadwal.kategori_penerima}}" disabled
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="lokVak">Lokasi Vaksin:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="lokVak" name="lokVak" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                        maxlength="30" required pattern=".*\S.*" value="{{jadwal.nama}}" disabled
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>
                
                <div class="kolom1"></div>
                <div>
                    {% if messages %}
                        {% for message in messages %}
                        <p{% if message.tags %} style="color: red;" class="{{ message.tags }}"{% endif %}>{{ message }}</o>
                        {% endfor %}
                    {% endif %}
                </div>
                <div style="grid-column: span 2; text-align: center;">
                <button type="submit" class="btn btn-primary" id="btnTambah" style="width: 100px;">Daftar</button>
                </div>
            </div>
        
        </form>
    </div>
    
  </body>
</html>
