<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detail MyTiket</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
        .heading1 {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        .inputBox{
            width: 350px;
        }


        #formBody{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
            row-gap: 10px;
        }

        .kolom1{
            text-align: right;
        }
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1>Detail Jadwal</h1>
    </div>
    <div>
        <div id="formBody">
            <!-- <form action="" method="POST" > -->
            <!-- {% csrf_token %} -->
            <div class="kolom1">
                <label for="nama_instansi">Nama Instansi:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="nama_instansi" name="nama_instansi" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                    maxlength="30" required pattern=".*\S.*" value="{{hasil.nama_instansi}}" disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div class="kolom1">
                <label for="tglWktuP">Tanggal dan Waktu Pelaksanaan:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="tglWktuP" name="tglWktuP" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                    maxlength="30" required pattern=".*\S.*" value="{{tgl_waktu}}" disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div class="kolom1">
                <label for="kuota">Kuota:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="kuota" name="kuota" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                    maxlength="30" required pattern=".*\S.*" value="{{hasil.jumlah}}" disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div class="kolom1">
                <label for="katPen">Kategori Penerima:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="katPen" name="katPen" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                    maxlength="30" required pattern=".*\S.*" value="{{hasil.kategori_penerima}}" disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div class="kolom1">
                <label for="lokVak">Lokasi Vaksin:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="lokVak" name="lokVak" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                    maxlength="30" required pattern=".*\S.*" value="{{hasil.nama}}" disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div class="kolom1">
                <label for="noTiket">Nomor Tiket:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="noTiket" name="noTiket" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                    maxlength="30" required pattern=".*\S.*" value="{{hasil.no_tiket}}" disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div class="kolom1">
                <label for="statusTiket">Status Tiket:</label>
            </div>
            <div>
                <input type="text" class="inputBox" id="statusTiket" name="statusTiket" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                    maxlength="30" required pattern=".*\S.*" value="{{hasil.nama_status}}" disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>

            <div style="grid-column: span 2; text-align: center;">
            <button class="btn btn-danger" id="btnBatal" style="width: 100px;" onclick="location.href='../read-mytiket/'">Cancel</button>
            </div>
        </div>
        <!-- <input class="btn btn-primary" type="submit" value="Tambah" id="Submit"> -->
        
        <!-- </form> -->
    </div>
    
  </body>
</html>
