<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sivax: Tiket</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          integrity=
                  "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}"> -->
    <style>
        /* body {
            background-image: linear-gradient(rgb(192, 236, 218), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        #notes_table th {
            background-color: grey;
            color: white;
        }

        table {
            margin: auto;
            width: 80% !important;
            table-layout: fixed
        }

        .heading1 {
            /* color: white;
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;

            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
        }

        #notes_table {
            counter-reset: serial-number; /* Set the serial number counter to 0 */
            text-align: center;
        }

        #notes_table td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="heading1 row">
        <h1 class="text-center">Update Status Tiket</h1>
    </div>
    <div>
        <div id="formBody">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="kolom1">
                    <label for="nama_instansi">Nama Instansi:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="nama_instansi" name="nama_instansi" align="left"
                           placeholder="Tuliskan status tiket yang ingin dibuat.."
                           maxlength="30" required pattern=".*\S.*" value="{{ hasil.nama_instansi }}" disabled
                           oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="tglWktuP">Tanggal dan Waktu Pelaksanaan:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="tglWktuP" name="tglWktuP" align="left"
                           placeholder="Tuliskan status tiket yang ingin dibuat.."
                           maxlength="30" required pattern=".*\S.*" value="{{ tgl_waktu }}" disabled
                           oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="kuota">Kuota:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="kuota" name="kuota" align="left"
                           placeholder="Tuliskan status tiket yang ingin dibuat.."
                           maxlength="30" required pattern=".*\S.*" value="{{ hasil.jumlah }}" disabled
                           oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="katPen">Kategori Penerima:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="katPen" name="katPen" align="left"
                           placeholder="Tuliskan status tiket yang ingin dibuat.."
                           maxlength="30" required pattern=".*\S.*" value="{{ hasil.kategori_penerima }}" disabled
                           oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="lokVak">Lokasi Vaksin:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="lokVak" name="lokVak" align="left"
                           placeholder="Tuliskan status tiket yang ingin dibuat.."
                           maxlength="30" required pattern=".*\S.*" value="{{ hasil.nama }}" disabled
                           oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="noTiket">Nomor Tiket:</label>
                </div>
                <div>
                    <input type="text" class="inputBox" id="noTiket" name="noTiket" align="left"
                           placeholder="Tuliskan status tiket yang ingin dibuat.."
                           maxlength="30" required pattern=".*\S.*" value="{{ hasil.no_tiket }}" disabled
                           oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="kolom1">
                    <label for="statusTiket">Status Tiket:</label>
                </div>
                <div>
                    {#                <input type="text" class="inputBox" id="statusTiket" name="statusTiket" align="left"#}
                    {#                       placeholder="Tuliskan status tiket yang ingin dibuat.."#}
                    {#                       maxlength="30" required pattern=".*\S.*" value="{{ hasil.nama_status }}"#}
                    {#                       oninvalid="this.setCustomValidity('Field ini wajib diisi')"#}
                    {#                       oninput="setCustomValidity('')">#}
                    <select id="statusTiket" name="statusTiket" required> <!-- Get from Instansi -->
                        <option value="{{ hasil.kode_status }}"> No Change </option>
                        {% for i in statusTiket %}
                            <option value="'{{ i.kode }}'">{{ i.nama_status }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div style="grid-column: span 2; text-align: center;">
                    <button class="btn btn-danger" id="btnBatal" style="width: 100px;"
                            onclick="location.href='../read-mytiket/'">Cancel
                    </button>
                    <input class="btn btn-primary" type="submit" value="Tambah" id="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
