<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Instansi</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
         /* body {
            background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        .heading1 {
            /* color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;
            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        .kolom_input{
            width: 350px;
        }


        #formBody1{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            column-gap: 20px;
            row-gap: 10px;
            margin-bottom: 10px;
        }

        .kolom1{
            text-align: right;
        }

        
        .inputFaskes{
            display: none;
        }

        .inputNonFaskes{
            display: none;
        }

        .dropdownStyle{
            width: 350px;
        }
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1>Form Pembuatan Instansi</h1>
    </div>
    <div>
        <form id='createInstansi' action="" method="POST" >
            {% csrf_token %}
            <div id="formBody1">
                <div class="kolom1">
                    Kode:
                </div>
                <div>
                    <input type="text" class="kolom_input" id="kode_instansi" name="kode_instansi" align="left" placeholder="Tuliskan nama instansi Anda.." 
                        maxlength="30" required pattern=".*\S.*" value = '{{kode_instansi}}' disabled
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>
            
                <div class="kolom1">
                    <label for="nama_instansi">Nama Instansi:</label>
                </div>
                <div>
                    <input type="text" class="kolom_input" id="nama_instansi" name="nama_instansi" align="left" placeholder="Tuliskan nama instansi Anda.." 
                        maxlength="30" required pattern=".*\S.*"
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>
                
                <div class="kolom1">
                    <label for="nomor_telepon">Nomor Telepon:</label>
                </div>
                <div>
                    <input type="number" class="kolom_input" id="nomor_telepon" name="nomor_telepon" align="left" placeholder="Tuliskan nomor telepon instansi Anda.." 
                        maxlength="15" required pattern=".*\S.*"
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>
            

                <div class="kolom1">
                    <label class="" for="inputKategoriInstansi">Kategori Instansi:</label>
                </div>
                <div>
                    <select class="custom-select dropdownStyle" id="inputKategoriInstansi">
                        <option selected value="Faskes">Faskes</option>
                        <option value="Non-Faskes">Non-Faskes</option>
                    </select>
                </div>

                <div class="kolom1 inputFaskes">
                    <label class="" for="inputTipeFaskes">Tipe Faskes:</label>
                </div>
                <div class="inputFaskes">
                    <select class="custom-select dropdownStyle" id="inputTipeFaskes">
                        <option value="rumah sakit">Rumah Sakit</option>
                        <option value="puskesmas">Puskesmas</option>
                        <option value="klinik">klinik</option>
                    </select>
                </div>

                <div class="kolom1 inputFaskes">
                    <label class="" for="inputStatusKepemilikan">Status Kepemilikan:</label>
                </div>
                <div class="inputFaskes">
                    <select class="custom-select dropdownStyle" id="inputStatusKepemilikan">
                        <option value="pemerintah">Pemerintah</option>
                        <option value="swasta">Swasta</option>
                    </select>
                </div>

                <div class="kolom1 inputNonFaskes">
                    <label class="" for="inputTipeNonFaskes">Kategori:</label>
                </div>
                <div class= "inputNonFaskes">
                    <select class="custom-select dropdownStyle" id="inputTipeNonFaskes">
                        <option value="swasta">Swasta</option>
                        <option value="pemerintah">Pemerintah</option>
                    </select>
                </div>

                <div class="kolom1">
                    <button class="btn btn-primary" type="submit" id="btnTambah" style="width: 100px;">Tambah</button>
                </div>
                <div>
                    <button class="btn btn-danger" type="button" id="btnBatal" style="width: 100px;" onclick="window.location.href='../'">Batal</button>
                </div>
            </div>
            
            <!-- <input class="btn btn-primary" type="submit" value="Tambah" id="Submit"> -->
        
        </form>
    </div>
    
  </body>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script>
    var select = document.getElementById('inputKategoriInstansi');
    function getOption() {
        selectElement = document.querySelector('#inputKategoriInstansi');
        output = selectElement.value;
        console.log(output);
        if (output === "Faskes"){
            var faskes = document.getElementsByClassName('inputFaskes');
            for (var i=0;i<faskes.length;i+=1){
                faskes[i].style.display = 'block';
            }
            var nonFaskes = document.getElementsByClassName('inputNonFaskes');
            for (var i=0;i<nonFaskes.length;i+=1){
                nonFaskes[i].style.display = 'none';
            }
        } else if (output === "Non-Faskes"){
            var faskes = document.getElementsByClassName('inputFaskes');
            for (var i=0;i<faskes.length;i+=1){
                faskes[i].style.display = 'none';
            }
            var nonFaskes = document.getElementsByClassName('inputNonFaskes');
            for (var i=0;i<nonFaskes.length;i+=1){
                nonFaskes[i].style.display = 'block';
            }
        } else if (output === "Choose...") {
            var faskes = document.getElementsByClassName('inputFaskes');
            for (var i=0;i<faskes.length;i+=1){
                faskes[i].style.display = 'none';
            }
            var nonFaskes = document.getElementsByClassName('inputNonFaskes');
            for (var i=0;i<nonFaskes.length;i+=1){
                nonFaskes[i].style.display = 'none';
            }
        }
    }
    select.addEventListener('change', getOption, false);

    window.onload = getOption();

    $("form#createInstansi").submit(function() {
      var kodeInstansi = $('input[name="kode_instansi"]').val().trim();
      var namaInstansi = $('input[name="nama_instansi"]').val().trim();
      var nomorTelepon = $('input[name="nomor_telepon"]').val().trim();
      var kategoriInstansi = document.querySelector('#inputKategoriInstansi').value;
      var tipeFaskes = document.querySelector('#inputTipeFaskes').value;
      var statusKepemilikan = document.querySelector('#inputStatusKepemilikan').value;
      var tipeNonFaskes = document.querySelector('#inputTipeNonFaskes').value;
      var csr = $("input[name=csrfmiddlewaretoken]").val().trim();

      console.log(kodeInstansi)
      console.log(csr)
     
      if (tipeFaskes) {
        dataInstansi={}
        if(kategoriInstansi == 'Faskes'){
            dataInstansi = {
                    'kodeInstansi': kodeInstansi,
                    'namaInstansi': namaInstansi,
                    'nomorTelepon': nomorTelepon,
                    'kategoriInstansi': kategoriInstansi,
                    'tipeFaskes': tipeFaskes,
                    'statusKepemilikan': statusKepemilikan,
                };
            } else{
                dataInstansi = {
                    'kodeInstansi': kodeInstansi,
                    'namaInstansi': namaInstansi,
                    'nomorTelepon': nomorTelepon,
                    'kategoriInstansi': kategoriInstansi,
                    'tipeNonFaskes': tipeNonFaskes,
                };
            }
            console.log(dataInstansi)
          // Create Ajax Call
          $.ajax({
              url: "/instansi/create/ajax/",
              method: "POST",
              data: {dataInstansi, csrfmiddlewaretoken: csr},
              dataType: 'json',
              success: function (data) {
                  if (data.status === 'success') {
                      window.location.href = "../";
                  } else{
                    //   alert(data.message);
                  }
              }
          });
      } else {
          alert("All fields must have a valid value.");
      }
      return false;
    });
  </script>
</html>
