<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Delete Instansi</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
         /* body {
            background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        .heading1 {
            /* color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;
            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        .main{
            text-align: center;
        }



     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
      <div class="heading1">
        <h1>Delete Instansi</h1>
      </div>
      <div class="main">
        <!-- Create a Form -->
        <form method="POST" action="">
            <!-- Security token by Django -->
            {% csrf_token %}
            Apakah Anda yakin ingin menghapus instansi {{instansi.nama_instansi}}?
            <br>
            <br>
            <button class="btn btn-danger" type="submit" id="btnTambah" style="width: 100px;">Ya</button>
            <button class="btn btn-primary" type="button" id="btnBatal" style="width: 100px;" onclick="location.href='../'">Batal</button>
        </form>
      </div>
  </body> 
</html>