<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detail Instansi</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>
         /* body {
            background-image: linear-gradient(280deg, rgb(201, 247, 225), rgb(61, 211, 149));
            background-attachment: fixed;
        } */

        .heading1 {
            /* color: white; 
            background-image: linear-gradient(blue, rgb(88, 198, 235)); */
            padding: 15px;
            text-align: center;
            /* border-radius: 50px;
            margin-left: 10px;
            margin-right: 10px; */
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        /* label{
            padding: 3px 6px;
            text-align: right;
            width: 150px;
            vertical-align: top; 
        } */

        #nama_status{
            width: 250px;
        }


        #formBody1{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            column-gap: 20px;
            row-gap: 10px;
            margin-bottom: 10px;
        }

        .kolom1{
            text-align: right;
        }

        
        .inputFaskes{
            display: none;
            /* grid-column: span 2; */
        }

        .inputNonFaskes{
            display: none;
            /* grid-column: span 2; */
        }

        .dropdownStyle{
            width: 250px;
        }
/* 
        .kolomInKolom{
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
            row-gap: 10px;
        } */
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1>Form Detail Instansi</h1>
    </div>
    <div>
        <div id="formBody1">
            <div class="kolom1">
                Kode:
            </div>
            <div>
                <input type="text" class="kolom_input" id="kode_instansi" name="kode_instansi" align="left" placeholder="Tuliskan nama instansi Anda.." 
                    maxlength="30" required pattern=".*\S.*" value = '{{instansi.kode}}' disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>
            <!-- <div>
                D001
            </div> -->
            <!-- <form action="" method="POST" > -->
            <!-- {% csrf_token %} -->
            <div class="kolom1">
                <label for="nama_instansi">Nama Instansi:</label>
            </div>
            <div>
                <input type="text" class="kolom_input" id="nama_instansi" name="nama_instansi" align="left" placeholder="Tuliskan nama instansi Anda.." 
                    maxlength="30" required pattern=".*\S.*" value = '{{instansi.nama_instansi}}' disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>
            <!-- <div>
                Rumah Sakit Sehat
            </div> -->
            <div class="kolom1">
                <label for="nomor_telepon">Nomor Telepon:</label>
            </div>
            <div>
                <input type="text" class="kolom_input" id="nomor_telepon" name="nomor_telepon" align="left" placeholder="Tuliskan nama instansi Anda.." 
                    maxlength="30" required pattern=".*\S.*" value = '{{instansi_telepon.no_telp}}' disabled
                    oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                    oninput="setCustomValidity('')">
            </div>
        
            
            <div class="kolom1">
                <label class="" for="inputKategoriInstansi">Kategori Instansi:</label>
            </div>
            <div>
                <select class="custom-select dropdownStyle"  id="inputKategoriInstansi" disabled>
                    <option value="Faskes">Faskes</option>
                    <option value="Non-Faskes">Non-Faskes</option>
                </select>
            </div>
            <!-- <div>
                Faskes
            </div> -->

            <div class="kolom1 inputFaskes">
                <label class="" for="inputTipeFaskes">Tipe Faskes:</label>
            </div>
            <div class="inputFaskes">
                <select class="custom-select dropdownStyle"  id="inputTipeFaskes" disabled>
                    <option value="rumah sakit">Rumah Sakit</option>
                    <option value="[uskesmas">Puskesmas</option>
                    <option value="klinik">klinik</option>
                </select>
            </div>
            <!-- <div class="inputFaskes">
                Rumah Sakit
            </div> -->

            <div class="kolom1 inputFaskes">
                <label class="" for="inputStatusKepemilikan">Status Kepemilikan:</label>
            </div>
            <div class="inputFaskes">
                <select class="custom-select dropdownStyle"  id="inputStatusKepemilikan" disabled>
                    <option value="pemerintah">Pemerintah</option>
                    <option value="swasta">Swasta</option>
                </select>
            </div>
            <!-- <div class="inputFaskes">
                Pemerintah
            </div> -->

            <div class="kolom1 inputNonFaskes">
                <label class="" for="inputGroupSelect01">Kategori:</label>
            </div>
            <div class= "inputNonFaskes">
                <select class="custom-select dropdownStyle"  id="inputKategori" disabled>
                    <option value="swasta">Swasta</option>
                    <option value="pemerintah">Pemerintah</option>
                </select>
            </div>
            <!-- <div class= "inputNonFaskes">
                Swasta
            </div> -->

            <div class="kolom1">
                <button class="btn btn-secondary" id="btnTambah" style="width: 100px;" onclick="location.href='../'">Batal</button>
            </div>
            
        </div>
        
        <!-- <input class="btn btn-primary" type="submit" value="Tambah" id="Submit"> -->
        
        <!-- </form> -->
    </div>
    
  </body>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script>
    function selectOption(){
        {% if instansi_faskes %}
            $("#inputKategoriInstansi option[value=Faskes]").prop("selected", true);    
            $("#inputTipeFaskes option[value='{{instansi_faskes.tipe}}']").prop("selected", true);
            $("#inputStatusKepemilikan option[value={{instansi_faskes.statuskepemilikan}}]").prop("selected", true);
            console.log('{{instansi_faskes.tipe}}')
        {% else %}
            $("#inputKategoriInstansi option[value=Non-Faskes]").prop("selected", true);    
            $("#inputKategori option[value='{{instansi_non_faskes.kategori}}']").prop("selected", true);
        {% endif %}
        getOption();
    }

    var select = document.getElementById('inputKategoriInstansi');
    function getOption() {
        selectElement = document.querySelector('#inputKategoriInstansi');
        output = selectElement.value;
        console.log(output);
        if (output === "Faskes"){
            var faskes = document.getElementsByClassName('inputFaskes');
            for (var i=0;i<faskes.length;i+=1){
                faskes[i].style.display = 'block';
            }
            var nonFaskes = document.getElementsByClassName('inputNonFaskes');
            for (var i=0;i<nonFaskes.length;i+=1){
                nonFaskes[i].style.display = 'none';
            }
        } else if (output === "Non-Faskes"){
            var faskes = document.getElementsByClassName('inputFaskes');
            for (var i=0;i<faskes.length;i+=1){
                faskes[i].style.display = 'none';
            }
            var nonFaskes = document.getElementsByClassName('inputNonFaskes');
            for (var i=0;i<nonFaskes.length;i+=1){
                nonFaskes[i].style.display = 'block';
            }
        } else if (output === "Choose...") {
            var faskes = document.getElementsByClassName('inputFaskes');
            for (var i=0;i<faskes.length;i+=1){
                faskes[i].style.display = 'none';
            }
            var nonFaskes = document.getElementsByClassName('inputNonFaskes');
            for (var i=0;i<nonFaskes.length;i+=1){
                nonFaskes[i].style.display = 'none';
            }
        }
    }
    select.addEventListener('change', getOption, false);
    window.onload = selectOption();
  </script>
</html>
