<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Instansi</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
    <style>

        #notes_table th{ 
            background-color: grey;
            color: white;
        }
        table {
            margin: auto;
            width: 80% !important; 
            table-layout: fixed
        }

        .heading1 {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
        }

        #notes_table {
            counter-reset: serial-number;  /* Set the serial number counter to 0 */
            text-align: center;
        }

        #notes_table td:first-child:before {
            counter-increment: serial-number;  /* Increment the serial number counter */
            content: counter(serial-number);  /* Display the counter */
        }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1 class="text-center">Daftar Nama Instansi</h1>
    </div>
    <a href="create/" style="display: block; width: 90%; text-align: right;">[Tambah Instansi]</a>
    <table class="table table-bordered table-striped table-hover" id="notes_table">
      <tr>
        <th style="width: 5%">No.</th>
        <th style="width: 20%">Kode Instansi</th>
        <th style="width: 25%">Nama Instansi</th>
        <th style="width: 25%">Tindakan</th>
        <!-- <th style="width: 61%">Message</th> -->
      </tr>
      
      {% for ins in instansi %}
        <tr class="notes-table">
          <td>.</td>
          <td>{{ins.kode}}</td>
          <td>{{ins.nama_instansi}}</td>
          <td><a href="update/?kode={{ins.kode}}">[Edit]</a>   <a href="delete/?kode={{ins.kode}}">[Hapus]</a>   <a href="detail/?kode={{ins.kode}}">[Detail]</a></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
