<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Instansi</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">

     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    
    <style>

        #notes_table th{ 
            background-color: grey;
            color: white;
        }
        table {
            margin: auto;
            width: 80% !important; 
            table-layout: fixed
        }

        .heading1 {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        .notes-table td {
            word-wrap: break-word;
        }

        #notes_table {
            counter-reset: serial-number;  /* Set the serial number counter to 0 */
            text-align: center;
        }

        #notes_table td:first-child:before {
            counter-increment: serial-number;  /* Increment the serial number counter */
            content: counter(serial-number);  /* Display the counter */
        }
    </style>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    {% include 'navbar.html' %}
    <h3 class='heading1'>Anda tidak memiliki akses di bagian ini</h3>  
  </body>

</html>
