<nav class="navbar navbar-expand-lg" id="navbar">
    <a class="navbar-brand mr-0" href="/">
        <img class="mr-3 d-inline-block" src="">Kelompok 6
    </a>
    <button class="navbar-toggler custom-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if request.session.email %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <hr class="mt-4 mb-3">
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto mr-3">
            <li class="nav-item">
                <a class="nav-link" href="/tiket">Tiket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vaksin">Vaksin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/penjadwalan">Penjadwalan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/distribusi">Distribusi</a>
            </li>
            {% if request.session.role == 'admin_satgas' %}
                <li class="nav-item">
                    <a class="nav-link" href="/status-tiket">Status Tiket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instansi">Instansi</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/kartuvaksin">Kartu Vaksin</a>
            </li>
        </ul>
    </div>
    {% endif %}
    <ul class="navbar-nav right-section d-flex justify-content-end" style="margin-right: 16px;">
        <!--  if user.is_authenticated  -->
        {% if request.session.email %}
        <li class='nav-item'></li>
            <a href="/logout">
                <button type="button" class="btn btn-danger btn-md">Keluar</button>
            </a>
        </li>
        {% else %}
        <!-- else -->
        <li class='nav-item'>
            <a href="/">
                <button type='button' class='btn btn-success btn-md'>Masuk</button>
            </a>
        </li>
        {% endif %}
        <!-- endif -->
    </ul>
</nav>