<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Status Tiket</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>

        .heading1 {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        ::-webkit-input-placeholder {
            font-size: 14px;
        }

        /* label{
            padding: 3px 6px;
            text-align: right;
            width: 150px;
            vertical-align: top; 
        } */

        #nama_status{
            width: 250px;
        }


        #formBody{
            margin: auto;
            width: 50%;
            display:grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            column-gap: 20px;
            row-gap: 10px;
        }

        .kolom1{
            text-align: right;
        }
     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="heading1">
      <h1>Form Pembuatan Status Tiket</h1>
    </div>
    <div>
        <form action="" method="POST" >
        {% csrf_token %}
            <div id="formBody">
                <div class="kolom1">
                    Kode:
                </div>
                <div>
                    <input type="text" id="kode_status" name="kode_status" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                        maxlength="30" required pattern=".*\S.*" value="{{kode_tiket}}" disabled
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>
                <!-- <div>
                    Auto-generate
                </div> -->
                
                <div class="kolom1">
                    <label for="nama_status">Nama Status:</label>
                </div>
                <div>
                    <input type="text" id="nama_status" name="nama_status" align="left" placeholder="Tuliskan status tiket yang ingin dibuat.." 
                        maxlength="30" required pattern=".*\S.*"
                        oninvalid="this.setCustomValidity('Field ini wajib diisi')"
                        oninput="setCustomValidity('')">
                </div>

                <div style="grid-column: span 2; text-align: center;">
                <button class="btn btn-primary" type="submit" id="btnTambah" style="width: 100px;" >Tambah</button>
                </div>
            </div>
            <!-- <input class="btn btn-primary" type="submit" value="Tambah" id="Submit"> -->
        
        </form>
    </div>
    
  </body>
</html>
