<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Delete Status Tiket</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"  
     integrity=
     "sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" 
     crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"> -->
     <style>

        .heading1 {
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
        }

        .main{
            text-align: center;
        }



     </style>
  </head>
  <body>
    {% include 'navbar.html' %}
      <div class="heading1">
        <h1>Hapus Status Tiket</h1>
      </div>
      <div class="main">
        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            Apakah Anda yakin ingin menghapus status tiket dengan kode {{status_tiket.kode}}?
            <br>
            <br>
            <!-- <input type="submit" value="Ya" /> -->
            <button class="btn btn-danger" type="submit" id="btnTambah" style="width: 100px;">Ya</button>
            <button class="btn btn-primary" type="button" id="btnBatal" style="width: 100px;" onclick="location.href='../'">Batal</button>
        </form>
      </div>
  </body> 
</html>